In [4]:
print("""
철수네 반 학생은 총 31명이다. 
남학생은 n명이면 여학생은 몇 명인지 구하시오.	
""")

철수네 반 학생은 총 31명이다.
남학생은 n명이면 여학생은 몇 명인지 구하시오.

In [5]:
n = int(input("n의 값을 입력하세요"))

n의 값을 입력하세요17

In [6]:
m = 31-n

In [7]:
print("여학생 수는",m,"명 입니다")

여학생 수는 14 명 입니다